body {
    width: 1300px;
    margin: 0 auto;
}

.header {
    background-color: #8C0A0D;
    height: 71px;
    padding: 13px 64px;
    box-sizing: border-box;
    color: #F9BD6F;
}

#logo {
    display: inline-block;
}

.nav {
    display: inline-block;
    width: 65%;
    margin-left: 60px;
}

#lang {
    position: relative;
    float: right;
    top: 18px;
}

.background-pic {
    z-index: 0;
    position: absolute;
    opacity: 0.1;
}

.nav ul {
    margin: 0 auto;
}

.nav li {
    float: left;
    list-style: none;
    margin-left: 1rem;
    cursor: pointer;
    font-size: 16px;
}

.nav li a {
    text-decoration: none;
    color: #F9BD6F;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.main {
    background-image: url('./img/backgr2.png');
    min-height: 750px;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

#pic {
    height: 335px;
}

#main-name {
    position: relative;
    bottom: 315px;
    z-index: 2;
    font-size: 52px;
    color: #35040C;
}

#btn {
    position: relative;
    bottom: 292px;
    z-index: 2;
}

#main-btn {
    width: 190px;
    height: 43px;
    background-color: #F6CC79;
    border-radius: 15px;
    border-bottom: 5px solid #BF670D;
    font-size: 20px;
    cursor: pointer;
}

#lang-img {
    display: inline-block;
    margin-top: 5px;
}

#lang-text {
    float: right;
    margin-left: 5px;
    margin-top: 5px;
    text-transform: uppercase;
}

.nav-buttons {
    position: relative;
    bottom: 289px;
    left: 90px;
    width: 1115px;
    z-index: 3;
}

#main-pic {
    z-index: 1;
    position: relative;
}

.uptext {
    text-transform: uppercase;
}

#main-pic img {
    width: 1164px;
    border: 4px solid #35040C;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.carousel {
    width: 35%;
    margin: 0 auto;
    position: relative;
    bottom: 140px;
    z-index: 2;
}

.carousel div {
    display: inline-block;
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
}

div.choose-point {
    background-color: #BF670D;
}

.section {
    width: 1170px;
    margin: 0 auto;
}

.section {
    width: 1170px;
    position: absolute;
    margin-left: 64px;
    margin-top: 19px;
    font-size: 14px;
}

.section li {
    list-style-type: none;
}
  
.section ul {
    padding-left: 0;
}

.section ul {
    overflow: hidden;
}

.section ul li.left {
    width: 23.51%;
    float: left;
    padding-right: 23px;
}

.section ul li.right {
    width: 23.51%;
    float: right;
}

.section ul li .content {
    display: inline-block;
    text-align: left;
    line-height: 1.8;
}

.ulbolt {
    font-weight: bold;
}

.footer-li {
    margin: 0;
}

#footer-content {
    display: inline-block;
    line-height: 20px;
}

.footer-rigth {
    text-align: right;
}

#social {
    float: right;
}

.soc {
    margin: 10px 10px 0 0;
}

.footer {
    background-color: #8C0A0D;
    height: 71px;
    font-size: 12px;
    color: #FBC86B;
}